name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write # Status 404 λ° HttpError ν•΄κ²°μ— ν•µμ‹¬

jobs:
  deploy:
    environment: # π’΅ Pages λ°°ν¬ ν™κ²½μ„ λ…μ‹μ μΌλ΅ μ„ μ–Έν•©λ‹λ‹¤.
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy to GitHub Pages
        id: deployment # λ°°ν¬ ID μ¶”κ°€
        uses: actions/deploy-pages@v2